*{
    box-sizing: border-box;
}


.row{
    width:100%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    padding: 10px;
}

.one-half{
    width: 50%;
}

.one-third{
    width: 33.3333%;
}

.one-fourth{
    width: 25%;
}

.one-sixth{
    width: 16.6666%;
}

.one-eighth{
    width: 12.5%;
}

.two-thirds{
    width: 66.6666%;
}

@media screen and (max-width:700px)  {
    .column{
        width: 100%
    }
}