footer{
    position: relative;
    top: 4em;
    margin-bottom: 2em;
    margin-left: 1em;
}

h1 {
    text-align: center;
    font-size: 3em;
    font-family: Arial, sans-serif;
}

.alert-info a{
    color: black;
    text-decoration: none;
}

.alert-info{
    background-color: #C0FFFF;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px gray solid;
    margin: 0 1em;
}

.nav-links{
    list-style: none;
    text-align: center;
    position: relative;
    right: 1.25em;
    bottom: .5em;
}

.nav-links li{
    margin-bottom: 1em;
    padding: 1em;
    background-color: lightgray;
}

#main{
    font-family: "Comic Sans MS", serif;
    margin-bottom: 3em;
}

.sub-section{
    font-family: "Comic Sans MS", serif;
    font-style: italic;
}

.header-img img{
    max-width: 100%;
    max-height: 100%;
}

#social-media-links img{
    width:25px;
    float: right;
    margin-right: 1.5em;
    position: relative;
    bottom: 2.5em;
}

@media screen and (min-width:890px) {

    .hidden-on-desktop{
        display: none;
    }

    h1{
        display: inline;
        position: relative;
        top: .5em;
        left: 1em;
    }


    .nav-links li {
        background-color: white;
        display: inline-block;
    }

    nav{
        float: right;
        padding-top: 1.5em;
    }

    #main {
        width: calc(65% - 2em);
        float: left;
        margin:1em ;
    }

    .sub-section{
        width: calc(35% - 2em);
        float: left;
        margin: 1em;
    }

    footer{
        top: 14em;
    }

    #social-media-links{
        margin-right: 3em;
    }
}