body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message{
    margin: 10px 20px;
    padding: .5em;
    border-radius: 5px;
    width: 700px;
}

.info{
    color: rgb(95, 76, 170);
    background-color: rgb(204, 220, 255);
}

.success{
    color: rgb(76, 175, 130);
    background-color: rgb(197, 247, 218);
}

.warning{
    color: rgb(158, 145, 51);
    background-color: rgb(250, 254, 199);
}

.error{
    color: rgb(144, 5, 47);
    background-color: rgb(255, 207, 214);
}
