body{
    background-image: url("../img/weather-bg.jpg");
    background-size: cover;
}
.container{
    background-color: rgba(150,200,255, .7);
    padding: 1em;
}

h3{
    font-size: 2em;
    text-align: center;
}
h2{
    text-align: center;
    margin: 1em;
}

/*Forecasts*/

#forecastRow{
    padding-left: 1em;
    padding-right: 1em;
}
.forecast{
    background-color: lightgrey;
    border: black solid 1px;
    padding: 1em;
    text-align: center;
}
img{
    height: 100px;
}

/*Google Maps*/
#map-canvas{
    height: 500px;
    border: solid grey 5px;
}

