#container{
    background-color: #c0ffee;
    width: 80%;
    margin: auto;
    height: 300px;
    padding: 1em;
} .forecast{
    background-color: lightgrey;
    width: calc(33% - 33px);
    float: left;
    border: black solid 1px;
    padding: 1em;
    text-align: center;
  }img{
    width: 50px;
    margin-bottom: 1em;
     }