body{
    background-image: url("../img/weather-bg.jpg");
}
#container{
    background-color: rgba(150,200,255, .7);
    width: 90%;
    margin: auto;
    padding: 1em;
}
#cityName{
    text-align: center;
    font-size: 2em;
}
.forecast{
    background-color: lightgrey;
    width: calc(33% - 33px);
    float: left;
    border: black solid 1px;
    padding: 1em;
    text-align: center;
    margin-bottom: 3em;
}
img{
    width: 100px;
    margin-bottom: 1em;
}
#map-canvas{
    height: 500px;
    border: solid grey 5px;
}
