:root{
    font-family: Raleway, sans-serif;
    border: 1px black solid;
    margin: .1em;
}

h2{
    padding: 1em;
}

main img{
    width:100%
}

p{
    text-align: center;
    margin: 1em 20%;
}

.artist{
    width:300px;
    display: block;
    margin: 0 auto;
}

.about-link{
    color: black;
    float: right;
}

.about-header{
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
}